body {
    background-color: black;
    text-align: center;
    color: whitesmoke;
}

.caixa{
    position: relative;
    width: 500px;
    margin: 0 auto;
    width: auto;
}

header {
    background: rgb(58, 6, 34);
    padding: 20px 0;
}
p {
    text-align: center;
}


* {
    text-decoration: none;
    list-style-type: none;
}

.links {
    display: inline-block;
    text-align: center;
    width: 400px;
    margin: 0 0;
    padding: 50px 0;
    vertical-align: top;
    margin: 0 1,5%;
    padding: 10px 5px;
    box-sizing: border-box;
    border-color: rebeccapurple ;
    border-width: 2px ;
    border-style: solid ;
    border-radius: 10px;
     
}     

.links li:hover{
    border-color: #c78c19;
}
.links li:hover h2{
    font-size: 20px;
}
.links li:active{
    border-color: #088c19;
}
.links h2{
    font-size: 15px;
    font-weight: bold;
}


